.directoryFiles {
  padding: 1rem 0;

  @media screen and (min-width: 1336px) {
    padding: 2rem 0;
  }

  &__menu {
    background-color: #fff;

    @media screen and (min-width: 1336px) {
      position: sticky;
      top: 10px;
      width: 95%;
    }

    &__header {
      background-color: #0b2148;
      color: #fff;
      padding: 0.5rem;

      @media screen and (min-width: 992px) {
        padding: 1rem;
      }

      h5 {
        margin: 0;
      }
    }

    &__content a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ececec;
      color: #000;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.1rem;
      padding: 0.5rem;
      transition: background-color 0.3s ease;

      @media screen and (min-width: 992px) {
        padding: 1rem;
      }

      &:hover,
      &.active {
        background-color: #f0f0f0;
      }

      img {
        width: 20px;
      }
    }
  }

  &__content {
    &__item {
      background-color: #fff;
      margin-top: 1rem;
      padding: 1rem;
      display: none;

      &.active {
        display: block;
      }

      @media screen and (min-width: 992px) {
        padding: 1.5rem;
        margin-top: 0;

        &:not(:first-child) {
          margin-top: 1rem;
        }
      }

      h3 {
        font-weight: 600;
        color: #0b2148;
      }

      p {
        margin: 1rem 0;
        text-align: justify;
      }

      a {
        color: #00467d;
        font-size: 1.1rem;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        margin-top: 1rem;

        img {
          margin-right: 10px;
          width: 16px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
