.hero--about {
  background-image: url("/src/assets/img/about-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

  @media screen and (min-width: 1336px) {
    height: 252px;
  }
}
