.courses {
  padding: 1rem 0;

  @media screen and (min-width: 1336px) {
    margin-top: -4rem;
    padding: 0;
  }

  &__card {
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 236px;
    margin-top: 1rem;
    border-radius: 4px;

    @media screen and (min-width: 1336px) {
      margin-top: 0;
      width: 90%;
    }

    h3 {
      width: 90%;
      margin: 0.5rem auto;

      @media screen and (min-width: 1336px) {
        font-size: 1.8rem;
      }
    }

    img {
      transition: all 0.2s ease-in;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.3rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 1336px) {
        &:hover img {
          margin-left: 10px;
        }
      }
    }

    &__image {
      height: 60px;
      width: auto;
    }
  }
}
