.team {
  padding: 1rem 0;

  @media screen and (min-width: 1336px) {
    padding: 2rem 0;
  }

  p {
    text-align: justify;
  }

  &__accordion {
    margin-top: 1rem;

    @media screen and (min-width: 1336px) {
      margin-top: 2rem;
    }

    .accordion-item {
      margin-top: 1rem;
      border: 1px solid #ddd;
    }

    .accordion-header {
      margin: 0;
    }

    .accordion-button {
      background-color: #0b2148;
      color: #fff;
      font-size: 1.1rem;
      font-weight: bolder;
      padding: 1rem 1.25rem;

      &:not(.collapsed) {
        background-color: #0b2148;
        box-shadow: none;
      }

      &::after {
        background-image: url("/img/arrow-down--short--white.svg");
        background-color: transparent;
      }
    }

    .accordion-collapse {
      &.show {
        display: block;
      }
    }

    .accordion-body {
      background-color: #fbf7ed;
      padding: 1.5rem;

      p {
        margin: 1rem 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .departmentManager {
      border-bottom: 1px solid #ebeaea;
      padding: 1rem 0;
      margin-bottom: 1rem;

      p {
        font-size: 1.1rem;
        margin: 0.5rem 0;

        span {
          font-weight: bolder;
        }
      }

      a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 1.1rem;
        color: #4e4e4e;

        img {
          margin-right: 10px;
          width: 20px;
        }

        &:hover {
          color: #0b2148;
        }
      }
    }

    .departmentSubManagers {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;

      @media screen and (min-width: 1336px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .departmentSubManager {
        background-color: #fff;
        padding: 1rem;
        border-radius: 4px;

        h5 {
          font-weight: bolder;
          color: #0b2148;
        }

        p {
          margin: 1rem 0;

          span {
            color: #4e4e4e;
            font-weight: bold;
          }
        }

        a {
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          margin-right: 10px;
          margin-top: 0.5rem;
          color: #4e4e4e;

          img {
            margin-right: 10px;
            width: 20px;
          }

          &:hover {
            color: #0b2148;
          }
        }
      }
    }
  }
}
