.hero {
  background-color: #741816;
  background-image: url("/img/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 2rem 0;
  min-height: 400px;

  @media screen and (min-width: 992px) {
    min-height: 600px;
  }

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    h6 {
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-size: 1.1rem;

      @media screen and (min-width: 992px) {
        margin-top: 0;
      }

      @media screen and (min-width: 1336px) {
        font-size: 1.3rem;
      }
    }

    h2 {
      font-weight: 800 !important;
      margin-bottom: 1rem;

      @media screen and (min-width: 1336px) {
        width: 90%;
        font-size: 2.8rem;
      }
    }

    p {
      font-weight: 200;
      margin: 1rem 0;

      @media screen and (min-width: 1336px) {
        margin: 2rem 0;
        width: 80%;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media screen and (max-width: 991px) {
      flex-direction: column;
    }

    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 1.1rem;
      transition: all 0.3s ease;

      &:first-of-type {
        background-color: #ffc928;
        color: #0b2148;
        padding: 1.1rem 2rem;
        font-weight: bold;
        border-radius: 5px;

        @media screen and (max-width: 991px) {
          width: 100%;
        }

        &:hover {
          background-color: #ffb700;
        }
      }

      &:last-of-type {
        @media screen and (max-width: 991px) {
          width: 100%;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__carousel {
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}
