// Color fonts
$grey: #a9a8a9;
$dark-grey: #dcdcdc;
$light-grey: #f4f4f4;
$dark-blue: #0b2148;
$light-blue: #48a9a6;
$main-red: #741816;
$yellow: #ffc928;
$useful-links: #fbf7ed;
$white: #fff;

// Font variables
$main-font: "Bebas Neue", cursive;
$secondary-font: "Montserrat", sans-serif;

// Font family
$font-family: "Niramit", serif;

// Font sizes
$font-size-base: 1rem;
$font-size-small: 0.85rem;
$font-size-medium: 1.1rem;
$font-size-large: 1.3rem;
$font-size-xlarge: 1.8rem;
$font-size-xxlarge: 2.8rem;
