.useful-links {
  position: relative;
  padding: 3rem 0;
  @media screen and (min-width: 1336px) {
    padding: 4.5rem;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fbf7ed;
    z-index: -1;
    height: 600px;
    width: 95%;
    @media screen and (min-width: 992px) {
      transform: none;
      bottom: unset;
      top: 2em;
      left: 5.5rem;
      height: 550px;
      width: 460px;
    }
    @media screen and (min-width: 1336px) {
      top: 6rem;
      left: 7rem;
      height: 600px;
      width: 667px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 4rem;
    left: 6rem;
    background-color: #741816;
    z-index: 1;
    @media screen and (min-width: 992px) {
      bottom: 0.5rem;
      left: 4.5rem;
      height: 30px;
      width: 30px;
    }
    @media screen and (min-width: 1336px) {
      bottom: 4rem;
      left: 6rem;
    }
  }

  &__container {
    padding: 0 1rem;
    @media screen and (min-width: 1336px) {
      padding: 2.5rem;
    }

    h4 {
      color: #0b2148;
      font-size: 2rem;
      @media screen and (min-width: 1336px) {
        font-size: 2.8rem;
      }
    }

    p {
      margin: 0.7rem 0;
      @media screen and (min-width: 1336px) {
        margin: 1.25rem 0;
      }
    }
  }

  &__list a {
    border: 1px solid rgba(6, 7, 11, 0.11);
    border-radius: 4px;
    display: block;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: #0b2148;
    font-weight: 600;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  &__media {
    position: relative;
    z-index: -2;

    img {
      height: auto;
      width: 100%;
      @media screen and (min-width: 1336px) {
        margin-left: -6rem;
        height: 630px;
        width: auto;
      }
    }
  }

  .video-banner img {
    height: auto;
    width: 100%;
  }
}
