.about__info {
  padding: 1rem 0;

  @media screen and (min-width: 1336px) {
    padding: 2rem 0;
  }

  h3 {
    color: #741816;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    text-align: justify;

    @media screen and (min-width: 1336px) {
      width: 90%;
    }
  }
}
