.contacto-page .container {
  max-width: 1200px !important;
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.contacto-page .row {
  display: flex !important;
  flex-wrap: nowrap !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.contacto-page .col-md-7 {
  flex: 0 0 58.333333% !important;
  max-width: 58.333333% !important;
  position: relative !important;
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.contacto-page .col-md-5 {
  flex: 0 0 41.666667% !important;
  max-width: 41.666667% !important;
  position: relative !important;
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.contacto-page {
  padding: 4rem 0;
}
