@import "./abstracts/mixins.scss";
@import "./abstracts/variables.scss";

@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Niramit", serif;
  font-optical-sizing: auto;
  background-color: #ebe9e9;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: -1;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.main-content {
  background-image: url("/src/assets/img/body-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 9;
  padding-top: 2rem;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .dropdown-item {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f8f9fa;
    }
  }
}

.accordion-button {
  &:not(.collapsed) {
    background-color: #0b2148;
    color: #fff;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
    border-color: transparent;
  }
}
