.course {
  background-image: url("/src/assets/img/secondary-bg.png");
  background-size: cover;
  background-position: center;
  padding: 1rem 0;

  @media screen and (min-width: 1336px) {
    padding: 2rem 0;
  }

  &__content {
    p {
      text-align: justify;
      font-size: 1.1rem;
      line-height: 1.6;
      font-weight: 500;
    }

    h4 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
      color: #0b2148;
      font-size: 1.5rem;
    }

    &__list {
      margin-top: 2rem;

      &__item {
        background-color: #fff;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }

        &__media {
          max-height: 200px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__content {
          padding: 1.1rem;

          h5 {
            font-size: 1.4rem;
            font-weight: 600;
            color: #741816;
            margin-bottom: 0.5rem;
            line-height: 1.3;
          }

          p {
            font-size: 1.1rem;
            margin: 0.5rem 0;
            text-align: left;

            span {
              color: #0b2148 !important;
              margin-right: 7px;
              font-weight: 600;
            }
          }

          a {
            background-color: #ffc928;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0b2148;
            text-decoration: none;
            border-radius: 5px;
            padding: 1rem;
            margin-top: 1rem;
            font-weight: 600;
            font-size: 1.3rem;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #ffb700;
            }

            @media screen and (min-width: 1336px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
